In [34]:
!pip install geopandas

Requirement already satisfied: geopandas in /anaconda3/envs/PythonData/lib/python3.6/site-packages (0.4.1)
Requirement already satisfied: shapely in /anaconda3/envs/PythonData/lib/python3.6/site-packages (from geopandas) (1.6.4.post2)
Requirement already satisfied: pyproj in /anaconda3/envs/PythonData/lib/python3.6/site-packages (from geopandas) (2.1.2)
Requirement already satisfied: fiona in /anaconda3/envs/PythonData/lib/python3.6/site-packages (from geopandas) (1.8.6)
Requirement already satisfied: pandas in /anaconda3/envs/PythonData/lib/python3.6/site-packages (from geopandas) (0.23.4)
Requirement already satisfied: six>=1.7 in /anaconda3/envs/PythonData/lib/python3.6/site-packages (from fiona->geopandas) (1.12.0)
Requirement already satisfied: click<8,>=4.0 in /anaconda3/envs/PythonData/lib/python3.6/site-packages (from fiona->geopandas) (7.0)
Requirement already satisfied: munch in /anaconda3/envs/PythonData/lib/python3.6/site-packages (from fiona->geopandas) (2.3.2)
Requirement already satisfied: cligj>=0.5 in /anaconda3/envs/PythonData/lib/python3.6/site-packages (from fiona->geopandas) (0.5.0)
Requirement already satisfied: click-plugins>=1.0 in /anaconda3/envs/PythonData/lib/python3.6/site-packages (from fiona->geopandas) (1.0.4)
Requirement already satisfied: attrs>=17 in /anaconda3/envs/PythonData/lib/python3.6/site-packages (from fiona->geopandas) (18.2.0)
Requirement already satisfied: python-dateutil>=2.5.0 in /anaconda3/envs/PythonData/lib/python3.6/site-packages (from pandas->geopandas) (2.7.5)
Requirement already satisfied: pytz>=2011k in /anaconda3/envs/PythonData/lib/python3.6/site-packages (from pandas->geopandas) (2018.7)
Requirement already satisfied: numpy>=1.9.0 in /anaconda3/envs/PythonData/lib/python3.6/site-packages (from pandas->geopandas) (1.15.4)

In [9]:
%matplotlib inline

import pandas as pd
import matplotlib.pyplot as plt
import geopandas as gpd
import numpy as np

In [10]:
adults_df = pd.read_csv("Resources/share-of-adults-who-are-overweight.csv")
adults_df = adults_df.dropna(how='any')
adults_df_2013 = adults_df.loc[adults_df["Year"] == 2013, :]
del adults_df_2013['Entity']
del adults_df_2013['Year']
adults_df_2013 = adults_df_2013.rename(columns={"Indicator:Prevalence of overweight among adults, BMI &GreaterEqual; 25 (crude estimate) (%) - Age Group:18+  years - Sex:Both sexes (%)":"% Adults > 25BMI"})
adults_df_2013.head()
# adults_df_2013.columns

    Code  % Adults > 25BMI
38   AFG              18.1
80   ALB              56.5
122  DZA              57.2
164  AND              66.9
206  AGO              22.1

In [11]:
cause_df = pd.read_csv("Resources/burden-of-disease-by-cause.csv")
cause_df = cause_df.dropna(how='any')
cause_df_2013 = cause_df.loc[cause_df["Year"] == 2013, :]
del cause_df_2013['Entity']
del cause_df_2013['Year']
cause_df_2013.head()
# cause_df_2013.columns

,Code,HIV/AIDS and tuberculosis (DALYs),Diarrhea & common infectious diseases (DALYs),Malaria & neglected tropical diseases (DALYs),Maternal disorders (DALYs),Neonatal disorders (DALYs),Nutritional deficiencies (DALYs),Other communicable diseases (DALYs),Cancers (DALYs),Cardiovascular diseases (DALYs),...,Mental and substance use disorders (DALYs),"Diabetes, blood, & endocrine diseases (DALYs)",Musculoskeletal disorders (DALYs),Other NCDs (DALYs),Transport injuries (DALYs),Natural disasters (DALYs),Conflict and terrorism (DALYs),Self-harm (DALYs),Interpersonal violence (DALYs),Unintentional injuries (DALYs)
23,AFG,559159.736902,3.527351e+06,302079.587646,282475.205009,1.919800e+06,205793.584590,221179.138408,615582.241007,2.071798e+06,...,640738.068563,847821.593210,380193.163336,1.557879e+06,838282.394294,12059.273418,718251.148272,103157.339525,328380.481910,852112.586953
50,ALB,410.170590,2.050263e+04,298.926857,337.120431,2.297818e+04,6725.116833,1949.426154,100486.679159,2.125301e+05,...,51934.312577,34162.350986,68703.381981,7.869836e+04,19373.048968,71.336918,632.094734,8639.025281,4715.489183,43461.444513
77,DZA,37405.665021,3.820195e+05,19274.497859,41499.139835,9.478870e+05,177939.756537,56410.334780,509098.886614,1.286090e+06,...,855215.238477,737241.350368,774597.341222,1.390776e+06,522425.718250,856.790841,16455.239089,67670.415373,36306.096654,403353.771503
104,ASM,132.282828,8.795282e+02,167.036946,76.516526,5.366802e+02,407.204711,274.558874,1642.986431,2.790567e+03,...,1187.785630,2911.691131,1228.225134,1.685661e+03,407.314913,5.766505,69.175342,229.729134,246.384236,1041.548765
158,AND,69.141006,5.019526e+02,1.002140,3.967691,1.520824e+02,56.397479,30.503735,3367.645807,3.269640e+03,...,1995.526139,873.989296,2911.525422,2.015050e+03,340.632614,0.000000,0.000000,316.624100,49.781940,858.945837

In [12]:
men_bmi_file = "Resources/mean-body-mass-index-bmi-in-adult-males.csv"
men_bmi_df = pd.read_csv(men_bmi_file)
men_bmi_df = men_bmi_df.dropna(how='any')
men_bmi_df_2013 = men_bmi_df.loc[men_bmi_df["Year"] == 2013, :]
del men_bmi_df_2013['Entity']
del men_bmi_df_2013['Year']
del men_bmi_df_2013['Total population (Gapminder)']
men_bmi_df_2013.head()

    Code    (kg/m2)
67   AFG  21.508647
171  ALB  26.464979
241  DZA  24.218087
314  ASM  32.260774
381  AND  27.642936

In [13]:
men_file = "Resources/share-of-adult-men-overweight-or-obese-vs-daily-supply-of-calories.csv"
men_df = pd.read_csv(men_file)
men_df = men_df.dropna(how='any')
men_df_2013 = men_df.loc[men_df["Year"] == 2013, :]
men_df_2013.head()

,Entity,Code,Year,Daily caloric supply (per person) (kcal/person/day),Overweight or Obese (%),Total population (Gapminder)
67,Afghanistan,AFG,2013,2090.0,12.9,34499915.0
224,Albania,ALB,2013,3193.0,57.5,3238316.0
296,Algeria,DZA,2013,3296.0,50.7,36983924.0
504,Angola,AGO,2013,2473.0,18.0,20714494.0
645,Antigua and Barbuda,ATG,2013,2417.0,52.3,91404.0

In [14]:
merge_men_table = pd.merge(men_df_2013, men_bmi_df_2013, on="Code", how="left")
merge_men_table.columns
merge_men_table = merge_men_table.rename(columns={" (kg/m2)":"Men (BMI)"})
merge_men_table = merge_men_table.rename(columns={"Overweight or Obese (%)":"Men Overweight or Obese (%)"})
merge_men_table.head()

,Entity,Code,Year,Daily caloric supply (per person) (kcal/person/day),Men Overweight or Obese (%),Total population (Gapminder),Men (BMI)
0,Afghanistan,AFG,2013,2090.0,12.9,34499915.0,21.508647
1,Albania,ALB,2013,3193.0,57.5,3238316.0,26.464979
2,Algeria,DZA,2013,3296.0,50.7,36983924.0,24.218087
3,Angola,AGO,2013,2473.0,18.0,20714494.0,22.696896
4,Antigua and Barbuda,ATG,2013,2417.0,52.3,91404.0,27.080538

In [15]:
women_bmi_file = "Resources/mean-body-mass-index-bmi-in-adult-women.csv"
women_bmi_df = pd.read_csv(women_bmi_file)
women_bmi_df = women_bmi_df.dropna(how='any')
women_bmi_df_2013 = women_bmi_df.loc[women_bmi_df["Year"] == 2013, :]
del women_bmi_df_2013['Entity']
del women_bmi_df_2013['Year']
del women_bmi_df_2013['Total population (Gapminder)']
women_bmi_df_2013.head()

    Code    (kg/m2)
67   AFG  23.549702
171  ALB  25.699533
241  DZA  25.938751
314  ASM  34.824617
381  AND  26.619401

In [16]:
women_file = "Resources/share-of-adult-women-overweight-or-obese-vs-daily-caloric-supply.csv"
women_df = pd.read_csv(women_file)
women_df = women_df.dropna(how='any')
women_df_2013 = women_df.loc[women_df["Year"] == 2013, :]
del women_df_2013['Entity']
del women_df_2013['Year']
del women_df_2013['Daily caloric supply (per person) (kcal/person/day)']
del women_df_2013['Total population (Gapminder)']
women_df_2013.head()

    Code  Share of women overweight or obese (%)
67   AFG                                    19.5
224  ALB                                    45.1
296  DZA                                    60.8
504  AGO                                    33.8
645  ATG                                    65.2

In [17]:
merge_women_table = pd.merge(women_bmi_df_2013, women_df_2013, on="Code", how="left")
merge_women_table.columns
merge_women_table = merge_women_table.rename(columns={" (kg/m2)":"Women (BMI)"})
merge_women_table = merge_women_table.rename(columns={"Share of women overweight or obese (%)":"Women overweight or obese (%)"})
merge_women_table.head()

  Code  Women (BMI)  Women overweight or obese (%)
0  AFG    23.549702                           19.5
1  ALB    25.699533                           45.1
2  DZA    25.938751                           60.8
3  ASM    34.824617                            NaN
4  AND    26.619401                            NaN

In [18]:
merge_table = pd.merge(merge_men_table, merge_women_table, on="Code", how="left")
merge_table = merge_table[["Entity","Code","Year",
                           "Men Overweight or Obese (%)",
                           "Men (BMI)",
                           "Women overweight or obese (%)",
                           "Women (BMI)",
                           "Daily caloric supply (per person) (kcal/person/day)",
                           "Total population (Gapminder)"]]
merge_table.head()

,Entity,Code,Year,Men Overweight or Obese (%),Men (BMI),Women overweight or obese (%),Women (BMI),Daily caloric supply (per person) (kcal/person/day),Total population (Gapminder)
0,Afghanistan,AFG,2013,12.9,21.508647,19.5,23.549702,2090.0,34499915.0
1,Albania,ALB,2013,57.5,26.464979,45.1,25.699533,3193.0,3238316.0
2,Algeria,DZA,2013,50.7,24.218087,60.8,25.938751,3296.0,36983924.0
3,Angola,AGO,2013,18.0,22.696896,33.8,23.982417,2473.0,20714494.0
4,Antigua and Barbuda,ATG,2013,52.3,27.080538,65.2,29.029067,2417.0,91404.0

In [19]:
merge_table = pd.merge(merge_table, cause_df_2013, on="Code", how="left")
merge_table.head()

,Entity,Code,Year,Men Overweight or Obese (%),Men (BMI),Women overweight or obese (%),Women (BMI),Daily caloric supply (per person) (kcal/person/day),Total population (Gapminder),HIV/AIDS and tuberculosis (DALYs),...,Mental and substance use disorders (DALYs),"Diabetes, blood, & endocrine diseases (DALYs)",Musculoskeletal disorders (DALYs),Other NCDs (DALYs),Transport injuries (DALYs),Natural disasters (DALYs),Conflict and terrorism (DALYs),Self-harm (DALYs),Interpersonal violence (DALYs),Unintentional injuries (DALYs)
0,Afghanistan,AFG,2013,12.9,21.508647,19.5,23.549702,2090.0,34499915.0,5.591597e+05,...,640738.068563,847821.593210,380193.163336,1.557879e+06,838282.394294,12059.273418,718251.148272,103157.339525,328380.481910,852112.586953
1,Albania,ALB,2013,57.5,26.464979,45.1,25.699533,3193.0,3238316.0,4.101706e+02,...,51934.312577,34162.350986,68703.381981,7.869836e+04,19373.048968,71.336918,632.094734,8639.025281,4715.489183,43461.444513
2,Algeria,DZA,2013,50.7,24.218087,60.8,25.938751,3296.0,36983924.0,3.740567e+04,...,855215.238477,737241.350368,774597.341222,1.390776e+06,522425.718250,856.790841,16455.239089,67670.415373,36306.096654,403353.771503
3,Angola,AGO,2013,18.0,22.696896,33.8,23.982417,2473.0,20714494.0,1.166419e+06,...,398281.731406,295289.235477,226669.772204,8.028842e+05,398592.397188,55.153257,14276.062397,49883.151558,73200.292711,613533.437525
4,Antigua and Barbuda,ATG,2013,52.3,27.080538,65.2,29.029067,2417.0,91404.0,4.030682e+02,...,1969.932054,2441.531632,1569.298151,2.122472e+03,453.949045,0.000000,0.096284,96.351872,280.707147,1196.329363

In [20]:
merge_table = pd.merge(merge_table, adults_df_2013, on="Code", how="left")
merge_table.head()

,Entity,Code,Year,Men Overweight or Obese (%),Men (BMI),Women overweight or obese (%),Women (BMI),Daily caloric supply (per person) (kcal/person/day),Total population (Gapminder),HIV/AIDS and tuberculosis (DALYs),...,"Diabetes, blood, & endocrine diseases (DALYs)",Musculoskeletal disorders (DALYs),Other NCDs (DALYs),Transport injuries (DALYs),Natural disasters (DALYs),Conflict and terrorism (DALYs),Self-harm (DALYs),Interpersonal violence (DALYs),Unintentional injuries (DALYs),% Adults > 25BMI
0,Afghanistan,AFG,2013,12.9,21.508647,19.5,23.549702,2090.0,34499915.0,5.591597e+05,...,847821.593210,380193.163336,1.557879e+06,838282.394294,12059.273418,718251.148272,103157.339525,328380.481910,852112.586953,18.1
1,Albania,ALB,2013,57.5,26.464979,45.1,25.699533,3193.0,3238316.0,4.101706e+02,...,34162.350986,68703.381981,7.869836e+04,19373.048968,71.336918,632.094734,8639.025281,4715.489183,43461.444513,56.5
2,Algeria,DZA,2013,50.7,24.218087,60.8,25.938751,3296.0,36983924.0,3.740567e+04,...,737241.350368,774597.341222,1.390776e+06,522425.718250,856.790841,16455.239089,67670.415373,36306.096654,403353.771503,57.2
3,Angola,AGO,2013,18.0,22.696896,33.8,23.982417,2473.0,20714494.0,1.166419e+06,...,295289.235477,226669.772204,8.028842e+05,398592.397188,55.153257,14276.062397,49883.151558,73200.292711,613533.437525,22.1
4,Antigua and Barbuda,ATG,2013,52.3,27.080538,65.2,29.029067,2417.0,91404.0,4.030682e+02,...,2441.531632,1569.298151,2.122472e+03,453.949045,0.000000,0.096284,96.351872,280.707147,1196.329363,46.4

In [21]:
merge_table.to_csv("Output/cleaned_BMI_data.csv", index=False)